apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: petclinic-sm
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
      env: {{ .Values.env }}
  endpoints:
  - port: http
    path: /actuator/prometheus
    interval: 15s
