apiVersion: v1
kind: Service
metadata:
    name: {{ .Values.service.name }}
spec:
    type: ClusterIP
    selector:
            app: {{ .Values.app.name }}
            env: {{ .Values.env }}
        ports:
        - port: {{ .Values.service.port }}
          targetPort: {{ .Values.container.port }}